<div class="attestation">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>№</th>
                <th>Discipline</th>
                <th>Pass</th>
                <th>Attestation 1</th>
                <th>Attestation 2</th>
                <th>Exam</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>1</b></td>
                <td><b>Single Page Application</b></td>
                <td><b>5%</b></td>
                <td><b>25</b></td>
                <td><b>30</b></td>
                <td><b>30</b></td>
                <td><b>75</b></td> 
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr> 
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td> 
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>     
            </tr>
        </tbody>
    </table>
    </div>